@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
}
.calculator{
	position: relative;
	display: grid;
}
.calculator .value{
	grid-column: span 4;
	height: 10rem;
	text-align: right;
	border: none;
	outline: none;
	font-size: 1.8rem;
	padding: 1rem;

}

.calculator span{
	display: grid;
	width: 6rem;
	height: 6rem;
	color: #fff;
	background: #0c2835;
	place-items: center;
	border: .1rem solid rgba(0,0,0,.1);
}

.calculator span:active{
	background: #74ff3b;
	color: #111;
}

.calculator span.clear{
	grid-column: span 2;
	width: 12rem;
	background: #ff3077;
}

.calculator span.plus{
	grid-column: span 2;
	height: 12rem;
}
.calculator span.equal{
	background: #03b1ff;
}